/* this css file will only style the homepage of our site */

.cat-photo {
  margin: 10px;
  max-width: 500px;
}

.profile-photo {
  width: 100%;
  max-width: 750px;
  min-width: 300px;
}


.chicken-nugget {
  max-width: 500px;
}

